.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 2vh 2vw;
}

.Nav {
  max-height: 20vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.User {
  float: right;
  text-align: right;
}

.Title {
  font-weight: bold;
  float: left;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.Link {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

input, button {
  border: 1px solid white;
  background-color: #282c34;
  border-radius: 3px;
  color: white;
  padding: 0.5vh 0.5vw;
  margin-left: 1vw;
}

input[type="submit"], button {
  cursor: pointer;
}